<div class="container">
	<form action="/tracks" method="post" enctype="multipart/form-data">
		<p>Upload a new track:</p>
		<input type="file" name="track"/>
		<input type="file" name="track"/>
	  	<button class="btn btn-info" type="submit">Upload</button>
	  	<h4>Supported files for track: MP3, Wav, and Ogg</h4>
	</form>
</div>